.message {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

.button {
  color: #FFFFFF;
  width: 45px;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #102131;
  border-radius: 5px;
  text-align: center;
}

.link {
  color: #102131;
}