.header {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.sideObject {
    width: 32px;
}

.arrow {
    height: 2em;
    width: 2em;
    margin-right: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}

.title > h1 {
    margin-bottom: 5px;
}

.title > h3 {
    margin-top: 0px;
}
